@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


.nav-link {
    transition: background-color 0.3s ease; /*色の変化が滑らかに0.3秒かけて行われるように設定*/
}

.nav-link:hover {
    color: lightcoral;
}
.color-nav-link{
    color: lightcoral;
}

.maine{
    margin: auto;
}

#font01{
    font-family: 'Amatic SC', cursive;
}